<div class="smr-footer">
  <img 
    class="smr-footer__notification" 
    data-toggle="tooltip" 
    data-placement="top" 
    title="Notify when available" 
    src="assets/images/notification.svg" 
    height="30"
    (click)="enableNotification()">
  <label class="smr-footer__info">
    <input type="checkbox">
    <span id="info">
      <img src="assets/images/info2.svg">
    </span>
    <ul class="smr-footer__list">
      <li>
        Made with <img src="assets/images/loveparrot.gif"> by
      </li>
      <li class="info-border">
        <a href="https://github.com/MFava91">Mattia Favaron</a>
      </li>
      <li>
        <a class="light-grey" href="https://github.com/MFava91/SmarTo">
          <img src="assets/images/github-logo.svg">
        </a>
      </li>
    </ul>
  </label>
</div>